/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777777;
}

html, body {
    margin: 0;
    padding: 0;
}*/