@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
    font-family: "Raleway";
    color: #777777;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #ffeaeb;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

/* --------------------------------- MAIN HEADER ------------------------------------ */
.main-header {
    background-color: black;
}

.main-header h3 {
    color: #ebddd9;
    font-family: "Lato";
    font-weight: 100;
    text-align: center;
    font-size: 2.0em;
    padding-bottom: 50px;
}

.slideImages {
    display: none;
}

.slideImages img {
    display: block;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    /*filter: brightness(50%);*/
}

/* ------------------------------------ MAIN NAV BAR ------------------------------------*/
.main-nav {
    background-color: black;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    /* Frozen Navbar */
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
    opacity: 0.75;
}

.main-nav ul {
    margin: 0;
    display: inline;
}

.main-nav li {
    padding: 0 2em;
    display: inline;
    color: #8d0909;
}

.main-nav a {
    display: inline-block; /* allows to set width and height as well as inline */
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

/* ---------------------------------- MAIN CONTENT -----------------------------------*/
/*.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}*/

.main-content h1 {
    font-family: "Raleway";
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    color: black;
}

.main-content p {
    line-height: 2em;
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 1.5em;
    border-bottom: 1px solid #680505;
}

.subheader {
    text-align: center;
}

#about h2 {
    font-family: "Lato";
    font-weight: lighter;
    font-size: 1.5em;
    /*text-align: center;*/
    color: black;
}

/*-------------------------- INTERESTS -----------------------------*/
#interests {
    max-width: none;
    background-color: black;
}

#interests h1 {
    color: white;
}

#interests h7 em {
    color: grey;
}

#interests table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}

#interests td, #interests td em {
    height: 5em;
    color: white;
}

#contact button {
    background-color: #2D9CDB;
    color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    width: 90px;
    height: 30px;
    font-size: 1em;
}

#contact button:hover {
    background-color: #56CCF2;
}

#contact {
    text-align: center;
}

#contact textarea {
    width: 400px;
    height: 100px;
    font-size: 1em;
    resize: none;
}

#interests td img {
    width: 100px;
    height: 120px;
}

#book img {
    width: 50px;
    height: 80px;
}
/*-------------------------------- WORKS CITED ----------------------------------*/
#works-cited {
    max-width: none;
    background-color: black;
    text-align: center;
}

#works-cited h1 {
    color: white;
}
#works-cited p, #works-cited p em {
    color: white;
    font-family: 'Times New Roman';
}

/* ---------------------------------- FOOTER CONTENT -----------------------------------*/
.footer-nav {
    /*background-color: #ffeaeb;*/
    /*margin-top: 5em;*/
    padding: 5em 0;
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media ul {
    margin: 0;
    display: inline;
}

.social-media li {
    padding: 0 0.1em;
    display: inline;
}

.social-media img {
    width: 20px;
    height: 20px;
}
